.root{
  width: 351px;
}
.titleWrapBlock{
  display: flex;
  justify-content: space-between;
  margin: 35px 0 14px 0;
}
.titleWrap{
  display: flex;
  align-items: center;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  color: #000000;
  button{
    height: 15px;
    width: 13px;
    border:0;
    background-color: #FFFFFF;
    padding: 0;
    margin-left: 140px;
  }
}
.searchBlock{
  position: relative;
}
.inputSearch{
  outline: none;
  width: 351px;
  height: 55px;
  background: #F3F4F5;
  border: 0;
  border-radius: 15px;
  padding-left: 40px;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #505052;
  &:focus{
    border: 1px solid #4787F7;
    padding-left: 39px;
  }
  &::-webkit-input-placeholder{
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #505052;
  }
}
.iconSearch{
  position: absolute;
  left: 14px;
  top: 17px;
  border: 0;
  padding: 0;
  background-color: transparent;
  img{
    width: 20px;
    height: 20px;
  }
}
.chooseCryptoBlock{
  margin-top: 20px;

}
.titleChooseCrypto{
  margin: 0 0 10px 0;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.listCurrency{
  display: flex;
  flex-direction: column;
}
.buttonCurrencyBlock{
  display: flex;
  align-items: center;
}
.buttonCurrency{
  position: relative;
  display: flex;
  align-items: center;
  height: 54px;
  margin-top: 10px;
  padding: 0;
  background: #FFFFFF;
  border-radius: 15px;
  border: 0;
  p{
    margin-left: 17px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    span{
      font-weight: 400;
    }
  }
  &.focus{
    background: #F3F4F5;
  }
  &:hover{
    background: #F3F4F5;
  }
}
.cryptoIcon{
  width: 25px;
  height: 25px;
  margin-left: 18px;
}
.arrowIcon{
  position: absolute;
  right: 20px;
  transform: rotate(-90deg);
}
@media screen and (max-width: 700px) {
  .root{
    width: 280px;
  }
  .titleWrap{
    font-size: 21px;
    line-height: 26px;
    button{
      margin-left: 70px;
    }
  }
  .inputSearch{
    width: 100%;
    height: 45px;
  }
  .iconSearch{
    top: 13px
  }
  .titleChooseCrypto{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .buttonCurrency{
    height: 45px;
    p{
      font-size: 15px;
      line-height: 18px;
    }
  }
  .cryptoIcon{
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
  .arrowIcon{
    right: 15px;
  }
}