.root{
    display: flex;
    justify-content: center;
}
.careersWrap{
    width: 1191px;
    display: flex;
    flex-direction: column;
}
.heading{
    text-align: center;
    margin: 58px 0;
}
.description{
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.vacancyHeading{
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #4787F7;
}
.vacancyBlock{
    margin-bottom: 20px;
}
@media screen and (max-width: 700px) {
    .root{
        width: 100%;
    }
    .careersWrap{
        width: 338px;
        align-items: center;
    }
    .heading{
        margin: 30px 0 33px 0;
    }
    .description{
        p{
            margin-top: 0;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .vacancyHeading{
        font-size: 30px;
        line-height: 37px;
    }
}