.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 0 49px 0;
}
.helpWrap{
    width: 1191px;
}
.helpHeading{
    p{
        margin: 23px 0 37px 0;
        font-family: 'Proxima Nova', sans-serif;
        font-style: italic;
        font-weight: 250;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
    }
}
.questionsBlock{
    ul{
        margin: 37px 0 0 0;
    }
}
.question{
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.answer{
    margin: 8px 0 0 0;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.cryptocurrencies{
    ul{
        margin: 0;
        li{
            font-family: 'Proxima Nova', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
        }
    }
}
@media screen and (max-width: 700px) {
    .helpWrap{
        width: 341px;
    }
    .helpHeading{
        p{
            margin: 41px 0 56px 0;
            font-size: 19px;
            line-height: 23px;
        }
    }
    .question{
        font-size: 20px;
        line-height: 24px;
    }
    .answer{
        font-size: 15px;
        line-height: 18px;
        margin-top: 22px;
    }
    .cryptocurrencies{
        ul{
            li{
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}
