.root{
    color: #000000;
    font-family: 'ProximaNova', sans-serif;
    font-style: normal;
}
.level1{
    margin: 0;
    font-weight: 700;
    font-size: 87px;
    line-height: 106px;
}
.level2{
    margin: 0;
    font-weight: 400;
    font-size: 41px;
    line-height: 50px;
}
.level3{
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
}
.level4{
    margin: 0;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
}

.colorWhite{
    color: #FFFFFF;
}