.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.navWrap{
    display: flex;
    align-items: center;
}
.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 55px;
    img{
        width: 32px;
        height: 36px;
        margin-right: 3px;
    }
}
.groupOneWrap {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 590px;
    &.withSubMenu {
        position: relative;
    }
}
.groupTwoWrap {
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem {
    text-decoration: none;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    img{
        width: 10px;
        height: 8px;
    }
}
.hamburgerWrap{
    display: none;
    width: 40px;
    height: 40px;
    background-color: #F3F4F5;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.hamburgerButton{
    background: url(../../assets/icons/hamburger_open.svg) no-repeat center;
    width: 25px;
    height: 25px;
    border: 0;
    &.close{
        background: url(../../assets/icons/hamburger_close.svg) no-repeat center;
    }
}

@media screen and (max-width: 700px) {
    .menuWrap{
        display: none;
    }
    .hamburgerWrap{
        display: flex;
    }
    .logo{
        margin-right: 100px;
    }
}