.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}
.buyCryptoWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 675px;
    background: #FFFFFF;
    box-shadow: 0 0 64px 5px rgba(71, 135, 247, 0.25);
    border-radius: 25px;
}
.trustpilot{
    display: flex;
    align-items: center;
    margin: 37px 0 ;
    p{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-right: 4px;
    }
}
@media screen and (max-width: 700px) {
    .root{
        width: 100%;
        margin-top: 30px;
    }
    .buyCryptoWrap{
        width: 341px;
        height: 600px;
    }
    .trustpilot{
        margin-bottom: 30px;
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            }
        img{
            width: 56px;
            height: 30px;
        }
    }
}