.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 0 37px 0;
}
.buyCryptoWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 675px;
    background: #FFFFFF;
    box-shadow: 0 0 64px 5px rgba(71, 135, 247, 0.25);
    border-radius: 25px;
}
.trustpilot{
    display: flex;
    align-items: center;
    margin: 37px 0 ;
    p{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-right: 4px;
    }
}